[Unit]
Description=Go FCGI Spawner Socket

[Socket]
ListenStream=/run/fcgi-spawner.sock
SocketUser=www-data
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target
