[Unit]
Description=Standalone WebSocket Service
After=network.target

[Service]
ExecStart=/var/www/fcgi/websocket.fcgi -listenAddr :9001
User=www-data
Group=www-data

# Restart policy
Restart=always
RestartSec=3

# Security settings
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictRealtime=true

[Install]
WantedBy=multi-user.target
